<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- 配置web应用参数 -->
	<context-param>
		<param-name>AAA</param-name>
		<param-value>AAA's value</param-value>
	</context-param>
	<context-param>
		<param-name>BBB</param-name>
		<param-value>BBB's value</param-value>
	</context-param>
	<context-param>
		<param-name>CCC</param-name>
		<param-value>CCC's value</param-value>
	</context-param>
	
	
  <!-- 配置一个servlet -->
  <!-- servlet的配置 -->
  <servlet>
  	<!-- servlet的内部名称，自定义。尽量有意义 -->
  	<servlet-name>FirstServlet</servlet-name>
  	<!-- servlet的类全名： 包名+简单类名 -->
  	<servlet-class>a_servlet.FirstServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Demo1</servlet-name>
  	<servlet-class>b_mapping.Demo1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Demo2</servlet-name>
  	<servlet-class>b_mapping.Demo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LifeDemo</servlet-name>
    <servlet-class>c_life.LifeDemo</servlet-class>
    <!-- 让servlet对象自动加载 -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LifeDemo2</servlet-name>
    <servlet-class>c_life.LifeDemo2</servlet-class>
    <!-- 让servlet对象自动加载 -->
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InitDemo</servlet-name>
    <servlet-class>d_init.InitDemo</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>TheradDemo</servlet-name>
    <servlet-class>e_thread.TheradDemo</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>ConfigDemo</servlet-name>
    <servlet-class>f_config.ConfigDemo</servlet-class>
    <!-- 初始参数： 这些参数会在加载web应用的时候，封装到ServletConfig对象中 -->
    <init-param>
    	<param-name>path</param-name>
    	<param-value>e:/b.txt</param-value>
    </init-param>
    <init-param>
    	<param-name>BBB</param-name>
    	<param-value>BBB's value</param-value>
    </init-param>
     <init-param>
    	<param-name>CCCC</param-name>
    	<param-value>CCCC's value</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ContextDemo1</servlet-name>
    <servlet-class>f_context.ContextDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContextDemo2</servlet-name>
    <servlet-class>f_context.ContextDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContextDemo3</servlet-name>
    <servlet-class>f_context.ContextDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContextDemo4</servlet-name>
    <servlet-class>f_context.ContextDemo4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForwardDemo1</servlet-name>
    <servlet-class>g_forward.ForwardDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RedirectDemo1</servlet-name>
    <servlet-class>g_forward.RedirectDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDataServlet</servlet-name>
    <servlet-class>g_forward.GetDataServlet</servlet-class>
  </servlet>

  
  <!-- servlet的映射配置 -->
  <servlet-mapping>
  	<!-- servlet的内部名称，一定要和上面的内部名称保持一致！！ -->
  	<servlet-name>FirstServlet</servlet-name>
  	<!-- servlet的映射路径（访问servlet的名称） -->
  	<url-pattern>/first</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>servlet.ListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>servlet.DetailServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>Demo1</servlet-name>
  	<url-pattern>/itcast/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Demo2</servlet-name>
  	<url-pattern>/demo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LifeDemo</servlet-name>
    <url-pattern>/LifeDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LifeDemo2</servlet-name>
    <url-pattern>/LifeDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitDemo</servlet-name>
    <url-pattern>/InitDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TheradDemo</servlet-name>
    <url-pattern>/ThreadDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfigDemo</servlet-name>
    <url-pattern>/ConfigDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContextDemo1</servlet-name>
    <url-pattern>/ContextDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContextDemo2</servlet-name>
    <url-pattern>/ContextDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContextDemo3</servlet-name>
    <url-pattern>/ContextDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContextDemo4</servlet-name>
    <url-pattern>/ContextDemo4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForwardDemo1</servlet-name>
    <url-pattern>/ForwardDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedirectDemo1</servlet-name>
    <url-pattern>/RedirectDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDataServlet</servlet-name>
    <url-pattern>/GetDataServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PathDemo</servlet-name>
    <servlet-class>a_path.PathDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResourceDemo</servlet-name>
    <servlet-class>b_resource.ResourceDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieDemo1</servlet-name>
    <servlet-class>c_cookie.CookieDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCookie</servlet-name>
    <servlet-class>c_cookie.DeleteCookie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HistServlet</servlet-name>
    <servlet-class>c_cookie.HistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionDemo1</servlet-name>
    <servlet-class>d_session.SessionDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionDemo2</servlet-name>
    <servlet-class>d_session.SessionDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSession</servlet-name>
    <servlet-class>d_session.DeleteSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PathDemo</servlet-name>
    <url-pattern>/PathDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceDemo</servlet-name>
    <url-pattern>/ResourceDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieDemo1</servlet-name>
    <url-pattern>/CookieDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCookie</servlet-name>
    <url-pattern>/DeleteCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HistServlet</servlet-name>
    <url-pattern>/HistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionDemo1</servlet-name>
    <url-pattern>/SessionDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionDemo2</servlet-name>
    <url-pattern>/SessionDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSession</servlet-name>
    <url-pattern>/DeleteSession</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DemoServlet01</display-name>
    <servlet-name>DemoServlet01</servlet-name>
    <servlet-class>servlet.DemoServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet01</servlet-name>
    <url-pattern>/DemoServlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserNameServlet</display-name>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>servlet.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/CheckUserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet02</display-name>
    <servlet-name>DemoServlet02</servlet-name>
    <servlet-class>servlet.DemoServlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet02</servlet-name>
    <url-pattern>/DemoServlet02</url-pattern>
  </servlet-mapping>
  <servlet>
 		<servlet-name>HelloServlet</servlet-name>
 		<servlet-class>a_servlet.HelloServlet</servlet-class>
 	</servlet>
  <servlet>
    <servlet-name>RequestDemo1</servlet-name>
    <servlet-class>b_request.RequestDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo2</servlet-name>
    <servlet-class>b_request.RequestDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo3</servlet-name>
    <servlet-class>b_request.RequestDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo4</servlet-name>
    <servlet-class>b_request.RequestDemo4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo5</servlet-name>
    <servlet-class>b_request.RequestDemo5</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>c_response.ResponseDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseDemo2</servlet-name>
    <servlet-class>c_response.ResponseDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseDemo3</servlet-name>
    <servlet-class>c_response.ResponseDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseDemo4</servlet-name>
    <servlet-class>c_response.ResponseDemo4</servlet-class>
  </servlet>
 	<servlet-mapping>
 		<servlet-name>HelloServlet</servlet-name>
 		<url-pattern>/hello</url-pattern>
 	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo1</servlet-name>
    <url-pattern>/RequestDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo2</servlet-name>
    <url-pattern>/RequestDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo3</servlet-name>
    <url-pattern>/RequestDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo4</servlet-name>
    <url-pattern>/RequestDemo4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo5</servlet-name>
    <url-pattern>/RequestDemo5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/ResponseDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo2</servlet-name>
    <url-pattern>/ResponseDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo3</servlet-name>
    <url-pattern>/ResponseDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo4</servlet-name>
    <url-pattern>/ResponseDemo4</url-pattern>
  </servlet-mapping>
 
</web-app>
